h1, h2, h3, h4, h5, h6 {
   font-family: Century Gothic !important;
}

body {
   padding-top: 40px;
   font-family: Century Gothic !important;
}

.data {
	margin-left: 25px;
}
 
.form-signup, .form-signin {
   width: 400px;
   margin: 0 auto;
}

.file-download {
	background-color: black;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.file-download:hover {
	color: blue;
	text-decoration:none;

}

.file-submit {
	margin-top: 10px;
}

.description, .app-labels {
	margin-top: 10px;
}

.alert {
	margin-top: 15px;
}

.btn-custom {
	background-color: #000000;
	color: #ffffff;
	border-color: #000000;
}

.btn {
	border-color: #000000;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #000000;
}

.portfolio-form{
	background-color: #dddddd;
	border-radius: 1%;
	border: 1px solid;
	border-color: #000000;
	padding-bottom: 10px;
}

p.profile-details {
	padding-left: 20px;
	padding-right: 20px;
	white-space: nowrap;
}